# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_HOLYMOLY_LEFT
    def_bool $(shields_list_contains,holymoly_left)

config SHIELD_HOLYMOLY_RIGHT
    def_bool $(shields_list_contains,holymoly_right)
