# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_HOLYMOLY_LEFT

config ZMK_KEYBOARD_NAME
    default "holymoly"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_HOLYMOLY_LEFT || SHIELD_HOLYMOLY_RIGHT

config ZMK_SPLIT
    default y

endif

#define DEFAULT_ENDPOINT                                                                           \
COND_CODE_1(IS_ENABLED(CONFIG_ZMK_BLE), (ZMK_ENDPOINT_BLE), (ZMK_ENDPOINT_USB))

static enum zmk_endpoint current_endpoint = DEFAULT_ENDPOINT;

static enum zmk_endpoint preferred_endpoint =
    ZMK_ENDPOINT_USB; /* Used if multiple endpoints are ready */
